
#zip_form{
  width: 100%;
  color: #333333;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  float: none;
}

.current_icon{
  text-align: center;
  margin: 1% auto;
  height: 10em; 
  margin: 5% 0% 10% 0%;
}

.current_icon img{
  height: 18em; 
  margin: -10% auto;
}
.info{
  text-align: center;
  margin: 5%;
}

.info_icon{
  height: 2em;
  float: left;
  text-align: center;
}

.temp img{
  height: 8em;
}

.temp{
  text-align: center;
}

.main{
  margin-left: auto;
  margin-right: auto;
}

.title{
  height: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}